.wrapper {
    margin: 5%;
    padding: 5%;
    /* text-align: center; */
}
.card {
    padding: 5%;
}
.row {
    width: 100%;
    display: inline-block;
}
.row label{
    padding: 10px;
}
.row input{
    padding: 5px;
    margin: 5px;
}
.btn{
    padding: 0px 19%;
}
#calculatebtn{
    margin: 5% 5% 5% 0;
    padding: 1%; 
    font-size: 0.9rem;
    border-radius: 5px;
}
#output p{
    padding: 0px 10px;;
}